button {
  line-height: 2;
  padding: 0px 10px;
  background: #002b36;
  border-radius: 2px;
  color: #93A1A1;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 20px;
  cursor: pointer;
  transition: all 0.4s linear; }
  button:hover {
    background: #016a7a;
    color: #93A1A1; }

.ace_editor {
  height: 40vh !important; }

.editor-glsl {
  float: right; }
  .editor-glsl #vertex-editor {
    margin: 20px; }
  .editor-glsl #fragment-editor {
    margin: 20px; }
  .editor-glsl h1 {
    padding-left: 20px;
    color: #93A1A1; }

/*# sourceMappingURL=9.css.map */
