.sidebar-app {
  display: flex;
  align-items: center;
  justify-content: center;
 // background: #0000ef;
  background: #002b36;
  ul.nav {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    .nav__item {
      cursor: pointer;
      a {
        color: #93A1A1;
        text-decoration: none;
      }
    }
  }
}

.title-section {
font-size: 1rem;
  color: #93A1A1;
  font-weight: inherit;
}