.sidebar-app {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002b36; }
  .sidebar-app ul.nav {
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
    .sidebar-app ul.nav .nav__item {
      cursor: pointer; }
      .sidebar-app ul.nav .nav__item a {
        color: #93A1A1;
        text-decoration: none; }

.title-section {
  font-size: 1rem;
  color: #93A1A1;
  font-weight: inherit; }

/*# sourceMappingURL=sidebar.css.map */
