body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.content-app {
  overflow: hidden;
  display: grid;
  grid-template-columns: 200px auto;
  min-height: 100vh;
  background: black;
}

.desc {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 400px;
  height: auto;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  color: #93A1A1;
}

.home-app {
  display: flex;
  align-items: center;
  color: #93A1A1;
  justify-content: center;
  font-size: 1.5rem;
}

